/* Estilos base */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0D1117;
    color: #24292e;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #010409;
    border-bottom: 1px solid #3D444D;
    height: 60px;
}

/* Logo à esquerda */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 40px;
    width: 40px;
}

.logo p {
    font-size: 18px;
    font-weight: bold;
    color: #e1e4e8;
}

/* Opções no meio */
.opcoes {
    display: flex;
    justify-content: center;
    gap: 30px;
    height: 70%; 
}

.opcoes div {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: color 0.3s ease;
    color: #e1e4e8;
    padding: 4px;
    border-radius: 4px;
}

.opcoes div:hover {
    background-color: #15191F;
}

.opcoes p {
    margin: 0 8px 0 0;
}

.opcoes img {
    height: 20px;
    width: 20px;
    margin-right: 8px;
}

.logo_cor {
    color: #3D444D;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 8px;
    height: 25px;
    width: 20px;
}

.github_logo {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    text-decoration: none;
}

.github_logo img {
    height: 30px;
    width: 30px;
}

.github_logo {
    font-size: 16px;
    color: #e1e4e8;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
}

.github_logo:hover {
    transform: scale(1.1);
}

.button_add {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
}

.button_add img:first-child {
    border-radius: 25%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
    transition: transform 0.3s ease;
}

.button_add:hover img:first-child {
    transform: scale(1.1);
}

.button_add .svg {
    width: 3rem;
    height: 3rem;
    position: relative;
    z-index: 2;
    transition: transform 0.3s ease;
}

.button_add:hover .svg {
    transform: rotate(90deg);
}

.box {
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 20px;
    max-width: 500px;
    min-width: 250px;
    background-color: #3D444D;
    color: #e1e4e8;
    border: 1px solid #606163;
    position: relative;
    transition: transform 0.3s ease;
}

/* Mostrar o botão de editar apenas quando o mouse passa sobre a box */
.box:hover .button_edit {
    display: block;
}

.button_edit:hover {
    transform: scale(1.1);
}

.button_edit {
    background-color: #3D444D;
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    padding: 10px;
    border: 1px solid #606163;
    position: absolute;
    right: 0;
    bottom: -25px;
    display: none;
    transition: transform 0.3s ease;
}

/* Botão de fechar: Posicionamento à esquerda do botão de editar */
.box:hover .button_close {
    right: 50px;  /* Muda para a esquerda do botão de editar */
    display: block;
    transition: transform 0.3s ease;
}

.button_close {
    background-color: #3D444D;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    padding: 10px;
    border: 1px solid #606163;
    position: absolute;
    right: 0;
    bottom: -25px;
    display: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.button_close:hover {
    background-color: #ff4444;
    transform: scale(1.1);
}

/* Adicionar bordas e efeitos de hover */
.box h2 {
    margin: 0;
    padding: 15px 10px;
    border-radius: 20px;
    border: 1px solid #606163;
    background-color: #24292e;
}

.item {
    display: flex;
    flex-direction: column; /* Alinha as tarefas verticalmente */
    gap: 1rem;
    margin: 0.6rem;
    padding: 0.4rem;
    background-color: #31353a;
    border-radius: 20px;
    border: 1px solid #606163;
}

.task {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.task:first-child {
    margin-top: 10px;
}

.task:last-child {
    margin-bottom: 10px;
}

.task label {
    padding: 5px;
    border-radius: 5px;
}

input[type="checkbox"] {
    cursor: pointer;
    width: 1rem;
    height: 1rem;
}

label {
    cursor: pointer;
}